.container {
  display: flex;
}

.col {
  flex: 1;
}

.row {
  margin: 0px;
  aspect-ratio : 1 / 1;
  text-align: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}