.container {
  display: flex;
  border-style: solid;
}

.col {
  flex: 1;
}

.row {
  margin: 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  aspect-ratio : 1 / 1;
  text-align: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slider {
  accent-color: #000000;
}